
/*
 * Full-page application style
 */
body {
  background : rgb(236,239,240) ;
}
 
body.application {
  background : rgb(236,239,240) ;
 padding: 60px 20px 0;
}
body.application > .container-fluid {
  padding-left: 0px;
  padding-right: 0px;
}
body.application div[class^="col-"] {
  padding-left: 5px;
  padding-right: 5px;
}
body.application div[class^="col-"] div[class^="col-"] {
  padding-left: 15px;
  padding-right: 15px;
}

body.application hr {
  border-color: #d7d7d7;
  margin: 10px 0;
}

.navbar-inverse {
  background-color: rgb(85,42,111);
}

.navbar-inverse .navbar-nav > li > a,

.navbar a.navbar-header {
  color: #fbfbfb;
  text-decoration: none;
  text-align: bottom;
}

.navbar-title {
  color : white;
  text-align: bottom;
  padding-top: 10px;
}

#menu-div  {
 padding-top : 5px;
 padding-bottom : 5px;
 background-color: white;
 
}

#menu-div a {
 color : black;
 font-size : 18px;
 font-family : Tahoma, Geneva, sans-serif;
 background-color: white;
 word-spacing: 2px;
}

.logo {
  padding-top : 10px;
  padding-right: 10px;
border-radius: 0px 30px 0px 0px;

}
#rest-button {
  padding-top : 10px;

}

.accountheader a {
 color:white;
 font-size : 18px;
 font-family : Verdana, Geneva, sans-serif;
 }

.navtap {
  background-color: rgb(255,255,255); 
  border: 1px solid #e2e2e2;
  padding: 10px;
}

.content-wrapper {
  padding-top : 170px;
}
 
.chart-wrapper {
  background: #fff;
  border: 1px solid #e2e2e2;
  border-radius: 3px;
  margin-bottom: 10px;
  margin-top: 20px;
box-shadow: 4px 4px 4px #888888;
  }

.chart-wrapper .chart-title {
  border-bottom: 1px solid #fdad2a;
  color: #666;
  font-size: 14px;
  font-weight: 200;
  padding: 5px 5px 4px;
}

.chart-wrapper .chart-stage {
  /*min-height: 240px;*/
  overflow: hidden;
  padding: 20px ;
  position: relative;
}


.chart-wrapper .chart-notes {
  background: #fbfbfb;
  border-top: 1px solid #e2e2e2;
  color: #808080;
  font-size: 12px;
  padding: 10px 10px 5px;
}


#sales-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

#flows-chart .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}