<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>The DST Index</title>

    <!-- Bootstrap -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="../static/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/css/dc.css"/>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7/html5shiv.js"></script>
      <script src="//cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.js"></script>
    <![endif]-->
  </head>


<body>

    <script type="text/javascript" src="../static/js/jquery.min.js"></script>
    <script type="text/javascript" src="../static/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../static/js/d3.js"></script>
    <script type="text/javascript" src="../static/js/crossfilter.min.js"></script>
    <script type="text/javascript" src="../static/js/dc.js"></script>
    <script type="text/javascript" src="../static/js/queue.js"></script>
    <script type="text/javascript" src="../static/js/colorbrewer.js"></script>

    {% block body %}

    <div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <div class="pull-left">
                <img class="logo" src="../static/images/DST_Systems_logo.png" alt="DST Systems">
            </div>
            <div class="pull-right">
                <h1 class = "navbar-title">{{ current_user.fund_family }} Cash Flows  </h1>                 
            </div>    
          </div>
		<div class="pull-right accountheader">
    {% if (current_user.is_authenticated) %}
            &nbsp; | &nbsp; <a href="{{ url_for('user.profile') }}">User profile</a>
            &nbsp; | &nbsp; <a href="{{ url_for('user.logout') }}">Sign out</a>
        {% else %}
            &nbsp; | &nbsp; <a href="{{ url_for('user.login') }}">Sign in</a>
        {% endif %} 
		</div>
		  </div>

	        {% if (current_user.is_authenticated) %}
    {% block menu %}
    <div id="menu-div" >
		&nbsp;
        <a href="/">Product Summary</a>
          &nbsp; | &nbsp; 
		<a href="/members/private_summary">{{ current_user.fund_family }} Summary</a>
          &nbsp; | &nbsp; 
        <a href="/members/myflows">{{ current_user.fund_family }} Regional Sales</a>
          &nbsp; | &nbsp; 
        <a href="/members/industry_flows">Product Regional Sales</a>
          &nbsp; | &nbsp; 
        <a href="/members/recommendation_summary">{{ current_user.fund_family }} Recommendation Summary</a>
          &nbsp; | &nbsp; 
        <a href="#">Glossary</a>
          &nbsp;  &nbsp; 
          &nbsp;  &nbsp; 
          &nbsp;  &nbsp; 
          &nbsp;  &nbsp; 
          &nbsp;  &nbsp; 

		<button onclick="javascript:dc.filterAll(); dc.renderAll();"  type="button" class="btn btn-primary">Reset</button>

		</div>

    {% endblock %}
	        {% endif %}
    </div>

      <div class="container-fluid">

      <div class="content-wrapper">
 

    <div id="main-div" class="with-margins">
    {% block main %}{% block content %}{% endblock %}{% endblock %}
    </div>

 </div>
    <br/>
    <hr class="no-margins"/>
    <div id="footer-div" class="clearfix with-margins">
        <div class="pull-left">DST Retail Cash Flows Dashboard v0.01</div>
        <div class="pull-right">&copy; 2015 DST Systems, created by Nargis Pauran npauran@dstsystems.co.uk</div>
    </div>
    {% endblock %}

      </div>

  </body>
</html>