{% extends "base.html" %}
{% block content %}

 <div class="col-sm-12">
    <div class="row">

		<div class="col-sm-3">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Rating
			  </div>
			  <div class="chart-stage">
				<div id="rating_chart"></div>
			  </div>
			</div>
		  </div>

		<div class="col-sm-3">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Product Category
			  </div>
			  <div class="chart-stage">
				<div id="shareclass_chart"></div>
			  </div>
			</div>
		  </div>

		<div class="col-sm-3">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Customer Value Code
			  </div>
			  <div class="chart-stage">
				<div id="socialcode_chart"></div>
			  </div>
			</div>
		  </div>  

		 <div class="col-sm-3">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Net Flows 
			  </div>
			  <div class="chart-stage">
				<div id="netflows_chart"></div>
			  </div>
			</div>
		  </div> 
	  </div>

    <div class="row">
		<div class="col-sm-12">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Gross Sales Trend
			  </div>
			  <div class="chart-stage">
				<div id="gross_sales_chart"></div>
			  </div>
			</div>
		  </div>	
	</div>

	    <div class="row">
		<div class="col-sm-12">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Daily Cash Flow Summary
			  </div>
			  <div class="chart-stage">
				<table class = "table table-hover" id="data_table">
					<thead class="header">
						<th>Order Date</th>
						<th>Product</th>
						<th>Gross Sales</th>
						<th>Redemptions</th>
						<th>Net Sales</th>
					</thead>
					<tbody></tbody>
				</table>
				</div>
			  </div>
			</div>
		  </div>
	</div>
</div>
<script type="text/javascript">
    var numberFormat = d3.format(".2f");
    var numberFormat2 = d3.format(".4s");
    var dateFormat = d3.time.format("%Y-%m-%d");
 
	var ratingChart = dc.pieChart('#rating_chart');
	var socialChart = dc.pieChart('#socialcode_chart');
	var shareclassChart = dc.pieChart('#shareclass_chart');
	var flowChart = dc.pieChart('#netflows_chart');
	var fundTable = dc.dataTable('#data_table');

	//var grossSalesChart = dc.barChart('#gross_sales_chart');
	var grossSalesChart = dc.lineChart("#gross_sales_chart");
	
 //Load data
    d3.csv("../static/data/industry_summary_1.csv", function (csv) {

        csv.forEach(function (d) {
        	d["trade_date"] = d["trade_date"].substring(0,10);
			d.dd = dateFormat.parse(d["trade_date"]);
            //d.dd.setDate(1);
            d.month = d3.time.month(d.dd).getMonth(); // pre-calculate month for better performance
            d.year = d3.time.year(d.dd).getFullYear();
			d.day = d3.time.day(d.dd).getDay();
			
			d.gross_sales = +d.gross_sales;
			d.redemptions = +d.redemptions;
			d.net_sales = +d.net_sales;
        });
        var ndx = crossfilter(csv);

		var all = ndx.groupAll();
		
        //Dimensions
        var ratingDim = ndx.dimension(function (d) {return d.ratingoverall;});
        var socialDim = ndx.dimension(function (d) {return d.social_code;});
        var shareclassDim = ndx.dimension(function (d) {return d.shareclasstype;});
        var dateDim = ndx.dimension(function (d) {return d.dd;});
        var flowDim = ndx.dimension(function (d) {
			return d.net_sales > 0 ? 'In Flow' : 'Out Flow';
		});

		var ratingGroup = ratingDim.group();
		var socialGroup = socialDim.group();
		var shareclassGroup = shareclassDim.group();
		var flowGroup = flowDim.group();
		
		var dateGroup = dateDim.group().reduceSum(function(d) {
			return d.gross_sales;
		});


	ratingChart
		.width(220)
		.height(180)
		.radius(80)
		.dimension(ratingDim)
		.group(ratingGroup)
		.label(function(d) {
			var label = d.key;
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());

	socialChart
		.width(250)
		.height(180)
		.radius(80)
		.dimension(socialDim)
		.group(socialGroup)
		.label(function(d) {
			var label = d.key;
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());		

	shareclassChart
		.width(250)
		.height(180)
		.radius(80)
		.dimension(shareclassDim)
		.group(shareclassGroup)
		.label(function(d) {
			var label = d.key;
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());

		
	flowChart
		.width(220)
		.height(180)
		.radius(80)
		.dimension(flowDim)
		.group(flowGroup)
		.label(function(d) {
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());		

		/*
	grossSalesChart
		.width(1200)
		.height(100)
		.margins({top:0,right:50,bottom:20,left:100})
		.dimension(dateDim)
		.group(dateGroup)
		.centerBar(true)
		.gap(10)
		.x(d3.time.scale().domain([new Date(2015,3,1), new Date(2015,10,30)])).nice(d3.time.day)
		.x(d3.time.scale().domain([(new Date(2015,03,1)), (new Date(2015,10,30))]).nice(d3.time.day))
		.xUnits(d3.time.days)
		.elasticY(true)
	*/
	  // time graph
	  grossSalesChart.width(1200)
		.height(150)
		.transitionDuration(500)
		.margins({top:0,right:50,bottom:20,left:100})
		.dimension(dateDim)
		.group(dateGroup)
		.elasticY(true)
		.x(d3.time.scale().domain(d3.extent(csv, function(d) { return d.dd; })))
		.xAxis();
	

	fundTable
		.width(1200)
		.height(500)
		.transitionDuration(500)
		.dimension(dateDim)
		.size(10)
		.columns([
			function(d) { return d.trade_date ;} ,
			function(d) { return d.globalcategoryname ;} ,
			function(d) { return '£' + d.gross_sales ;} ,
			function(d) { return '£' + d.redemptions ;} ,
			function(d) { return '£' + d.net_sales ;} 
		])
		.sortBy(function(d){
			return Math.abs(d.net_sales);
		})
		.order(d3.descending)
		.group(function(d) {
			var format = d3.format('02d');
			return d.year + '/' + format(d.month + 1)+ '/01';
		})
		.on('renderlet',function(table){
			table.selectAll('.dc-table-group').classed('info',true);
		});
	
	dc.renderAll();
});

	
</script>

{% endblock %}