{% extends "base.html" %}
{% block content %}

 <div class="col-sm-12">
    <div class="row">
	<!-- Map 1-->  
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            AUM by Category
          </div>
          <div class="chart-stage">
            <div id="catgeory-bar"></div>
          </div>
        </div>
      </div>
      <!-- Map -->
    </div>
	<div class="row">
	<!-- Map 1-->  
      <div class="col-sm-12">
        <div class="chart-wrapper">
          <div class="chart-title">
            AUM by State
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->
    </div>
</div>
<script type="text/javascript">
    var numberFormat = d3.format(".2f");
    var numberFormat2 = d3.format(".4s");

 	//Charts
 	var usChart = dc.geoChoroplethChart("#us-chart");
	var sectorsChart = dc.barChart("#catgeory-bar");


    //Load data
    d3.csv("../static/data/aum_by_state_sector.csv", function (csv) {

        var data = crossfilter(csv);

        //Dimensions

        var states = data.dimension(function (d) {
            return d["state"];
        });
        var sectors = data.dimension(function (d) {
            return d["sector"];
        });

		var aumByState = states.group().reduceSum(function(d) {
			return d["aum"]/1000000000;
		});
		var aumBySector = sectors.group().reduceSum(function(d) {
			return d["aum"]/1000000000;
		});
		
		var max_sector = 0.1;
		var min_sector = 0.01;
	    
	    var heatColorMapping = function(d) {
	            if (d < 0) {
	                return d3.scale.linear().domain([min_sector,0]).range(['#ccc', '#E2F2FF','#C4E4FF','#9ED2FF','#81C5FF','#6BBAFF','#51AEFF','#36A2FF','#1E96FF','#0089FF',
            '#0061B5'])(d);
	            }
	            else {
	                return d3.scale.linear().domain([0,max_sector]).range(['#ccc', '#E2F2FF','#C4E4FF','#9ED2FF','#81C5FF','#6BBAFF','#51AEFF','#36A2FF','#1E96FF','#0089FF',
            '#0061B5'])(d);
	            }
	        };
	        heatColorMapping.domain = function() {
	            return [min_sector,max_sector];
	        };


    d3.json("../static/geojson/us-states.json", function (statesJson) {


    //Draw Map
        usChart.width(1000)
                .height(400)
                .dimension(states)
                .group(aumByState)
                .colors(d3.scale.quantize().range(colorbrewer.RdYlGn[10]))
                .colorDomain([d3.min(aumByState.all(), function(d) { return d.value; }), d3.max(aumByState.all(), function(d) { return d.value; })])
                .colorCalculator(function (d) { return d ? usChart.colors()(d) : '#ccc'; })
        .projection(d3.geo.albersUsa()
            .scale(675)
            .translate([600, 200]))
                .overlayGeoJson(statesJson.features, "state", function (d) {
                    return d.properties.name;
                })
                .title(function (d) {
                    return "State: " + d.key + "\nNet Flow: " + numberFormat2(Math.exp(d.value) - 1  ? Math.exp(d.value) - 1 : 0) ;
                });
		sectorsChart
		.width(1200)
        .height(250)
		.x(d3.scale.ordinal())
		.xUnits(dc.units.ordinal)
		.brushOn(false)
		.xAxisLabel('')
		.yAxisLabel('AUM $B')
		.elasticY(true)
		.yAxisPadding(200)
		.dimension(sectors)
		.barPadding(0.1)
		.outerPadding(0.5)
		.group(aumBySector)
		.margins({top : 10, left: 50, right : 50 ,bottom : 100 })
		.yAxis().tickFormat( function(v) { return v;} );
		
		sectorsChart.render();
		sectorsChart.renderlet(function(chart) {
			chart.selectAll("g.x text").attr('dx','-10').attr('dy','-5').attr('transform',"rotate(-90) ");
			});	
			
			dc.renderAll();
       });
		

});
</script>

{% endblock %}