{% extends "base.html" %}
{% block content %}


    <div class="row">

      <div class="col-sm-12">
        <div class="row">

      <!-- Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Flows by State
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>
      <!-- Map -->


      <!-- Heat Map -->  
      <div class="col-sm-6">
        <div class="chart-wrapper">
          <div class="chart-title">
            Net Sales by Sector Trend
          </div>
          <div class="chart-stage">
            <div id="sectors-chart"></div>
          </div>
        </div>
      </div>
      <!-- Heat Map -->
      <!-- Metric 1 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
            Redemptions 
          </div>
          <div class="chart-stage">
            <div id="total-redemptions-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 1 -->

      <!-- Metric 2 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
             Sales
          </div>
          <div class="chart-stage">
            <div id="total-sales-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 2 -->

      <!-- Metric 3 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
             Income Reinvested 
          </div>
          <div class="chart-stage">
            <div id="total-reinvest-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 3 -->

      <!-- Metric 3 -->
      <div class="col-sm-3">
        <div class="chart-wrapper">
          <div class="chart-title">
             Net Flow 
          </div>
          <div class="chart-stage">
            <div id="total-netflow-nd"></div>
          </div>
        </div>
      </div>
      <!-- Metric 3 -->
    </div>

<script type="text/javascript">
  var numberFormat = d3.format(".2f");
  var numberFormat2 = d3.format(".4s");
  
 	//Map
 	var usChart = dc.geoChoroplethChart("#us-chart");

	//HeatMap
	var heatmap = dc.heatMap("#sectors-chart");

    //Metrics
	var totalRedemptionsND = dc.numberDisplay("#total-redemptions-nd");
	var totalSalesND = dc.numberDisplay("#total-sales-nd");
	var totalReinvestND = dc.numberDisplay("#total-reinvest-nd");
	var totalNetFlowND = dc.numberDisplay("#total-netflow-nd");
 



    //Load data
    //d3.csv("../static/data/myflows.csv", function (csv) {
    d3.csv("../api/myflows/{{ current_user.username }}", function (csv) {
    	
       	var dateFormat = d3.time.format("%Y-%m-%d");

        csv.forEach(function (d) {
        	d["trade_date"] = d["trade_date"].substring(0,10);
			d.dd = dateFormat.parse(d["trade_date"]);
			//console.log(d["trade_date"].substring(0,10));
            d.dd.setDate(1);
            d.month = d3.time.month(d.dd).getMonth(); // pre-calculate month for better performance
            d.year = d3.time.year(d.dd).getFullYear();

            d.net_flow = +d.net_flow;

        });


        var data = crossfilter(csv);

        //Dimensions

        var states = data.dimension(function (d) {
            return d["state"];
        });

		var sector = data.dimension(function(d) { 
			return [d.trade_date,d.sector]; 
		});

       


		var netFlowBySector = sector.group().reduceSum(function(d) {
			return +d["net_flow"];
		});


		var max_sector = netFlowBySector.top(1)[0].value;
		var min_sector = -10000000;
	    
	    var heatColorMapping = function(d) {
	            if (d < 0) {
	                return d3.scale.linear().domain([min_sector,0]).range(["#FF3300", "#FFAD99"])(d);
	            }
	            else {
	                return d3.scale.linear().domain([0,max_sector]).range(["#ADEBAD", "#33CC33"])(d);
	            }
	        };
	        heatColorMapping.domain = function() {
	            return [-23,23];
	        };


        var stateNetFlowSum = states.group().reduceSum(function (d) {
            return +d["net_flow"];
        });
        
		var totalredemptions = data.groupAll().reduceSum(function(d) {
			return +d["redemptions"];
		});

		var totalsales = data.groupAll().reduceSum(function(d) {
			return +d["sales"];
		});

		var total_income_reinvest = data.groupAll().reduceSum(function(d) {
			return +d["income_reinvest"];
		});

		var totalnetflow = data.groupAll().reduceSum(function(d) {
			return +d["net_flow"];
		});



    d3.json("../static/geojson/us-states.json", function (statesJson) {

    //Draw Map
        usChart.width(550)
                .height(400)
                .dimension(states)
                .group(stateNetFlowSum)
                .colors(d3.scale.quantize().range(colorbrewer.RdYlGn[10]))
                .colorDomain([d3.min(stateNetFlowSum.all(), function(d) { return d.value/10000000; }), d3.max(stateNetFlowSum.all(), function(d) { return d.value/10000000; })])
                .colorCalculator(function (d) { return d ? usChart.colors()(d) : '#ccc'; })
				.projection(d3.geo.albersUsa()
    				.scale(675)
    				.translate([300, 200]))
                .overlayGeoJson(statesJson.features, "state", function (d) {
                    return d.properties.name;
                })
                .title(function (d) {
                    return "State: " + d.key + "\nNet Flow: " + numberFormat2(d.value ? d.value : 0) ;
                });

        //heatmap
		heatmap
		.width(550)
        .height(400)
		.dimension(sector)
		.margins({top: 10, right: 10, bottom: 20, left: 150})
		.group(netFlowBySector)
		.keyAccessor(function(d) {return d.key[0];})
		.valueAccessor(function(d)	{return d.key[1];})				
		.colorAccessor(function(d) {return +d.value;})
    .colors(d3.scale.quantize().range(colorbrewer.RdYlGn[10]))
    .colorDomain([d3.min(stateNetFlowSum.all(), function(d) { return d.value/10000000; }), d3.max(stateNetFlowSum.all(), function(d) { return d.value/10000000; })])
		.title(function(d) {
        return "Sector:   " + d.key[0] + "\n" +
               "Date:  " + d.key[1] + "\n" +
               "Net Flow: " + numberFormat2(d.value) ;})
		;


        //metrics
		totalNetFlowND
			.valueAccessor(function(d){return d; })
			.group(totalnetflow)
			.formatNumber(d3.format(".4s"));

		totalRedemptionsND
			.valueAccessor(function(d){return d; })
			.group(totalredemptions)
			.formatNumber(d3.format(".4s"));

		totalSalesND
			.valueAccessor(function(d){return d; })
			.group(totalsales)
			.formatNumber(d3.format(".4s"));

		totalReinvestND
			.valueAccessor(function(d){return d; })
			.group(total_income_reinvest)
			.formatNumber(d3.format(".4s"));

        	dc.renderAll();

    });

    });
</script>

{% endblock %}