{% extends "base.html" %}
{% block content %}


<div class="row">

    <div class="col-sm-12">
        <div class="row">


	<div class="col-sm-4">
        <div class="chart-wrapper">
          <div class="chart-title">
            Product Category
          </div>
          <div class="chart-stage">
            <div id="us-chart"></div>
          </div>
        </div>
      </div>

	<div class="col-sm-4">
			<div class="chart-wrapper">
			  <div class="chart-title">
				Castomer Value Code
			  </div>
			  <div class="chart-stage">
				<div id="socialcode_chart"></div>
			  </div>
			</div>
		  </div>

</div>

<script type="text/javascript">
   var numberFormat = d3.format(".2f");
   var numberFormat2 = d3.format(".4s");


 	var socialChart = dc.pieChart('#socialcode_chart');
	var shareclassChart = dc.pieChart('#shareclass_chart');


	//var grossSalesChart = dc.barChart('#gross_sales_chart');
	
 //Load data
    d3.csv("../api/recommendation_summary/{{ current_user.username }}", function (csv) {

        var ndx = crossfilter(csv);

		var all = ndx.groupAll();
		
        //Dimensions
        var socialDim = ndx.dimension(function (d) {return d.social_code;});
        var shareclassDim = ndx.dimension(function (d) {return d.shareclasstype;});

		var socialGroup = socialDim.group();
		var shareclassGroup = shareclassDim.group();

	
	socialChart
		.width(250)
		.height(180)
		.radius(80)
		.dimension(socialDim)
		.group(socialGroup)
		.label(function(d) {
			var label = d.key;
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());		

	
	shareclassChart
		.width(250)
		.height(180)
		.radius(80)
		.dimension(shareclassDim)
		.group(shareclassGroup)
		.label(function(d) {
			var label = d.key;
			if (all.value()){
				label = '(' + d3.round(Math.floor(d.value)/all.value()*100) + '%)';
			}
			return label;
		})
		.renderLabel(true)
		.innerRadius(40)
		.transitionDuration(500)
        .legend(dc.legend());

	dc.renderAll();
});

	
</script>

{% endblock %}